:root {
  --brand-color: #2196f3;
  --bg-main-color: #ffffff;
  --bg-add-color: #2f303a;
  --color-hd: #212121;
  --color-add-txt: #757575;
  --color-add-hd: #ffffff;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--color-hd);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--brand-color);
}

.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-hd);
}

.list-nav-item:not(last-child) {
  margin-right: 50px;
}

.link-contact:hover,
.link-contact:focus {
  color: var(--brand-color);
}

/* .list-contact-item-top:not(last-child) {
  margin-left: 344px;
} */

.list-contact-item-top:last-child {
  margin-left: 50px;
}

.list-contact-item-top:first-child {
  margin-left: 200px;
}

/* .link-contact {
  display: block;
} */

/* .link-contact.mail {
  margin-left: 344px;
} */

/* .link-contact.tel {
  padding-right: 50px;
} */

.button-filter:hover,
.button-filter:focus {
  background-color: var(--brand-color);
  color: var(--color-add-hd);
}

.button-filter:active {
  color: var(--bg-main-color);
}

.button-filter {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-hd);
}

.link-contact {
  color: var(--color-add-txt);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-add-txt);
  text-decoration: none;
}

.link-map {
  color: var(--color-add-hd);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer {
  background-color: var(--bg-add-color);
}

.footer-address {
  font-style: normal;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-start {
  color: var(--brand-color);
}

.logo-top {
  color: #000000;
  margin-right: 90px;
}

.logo-bottom {
  color: var(--bg-main-color);
}

.header {
  background-color: var(--bg-main-color);
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.hero {
  background-color: var(--bg-add-color);
}

.index-hero {
  color: var(--color-add-hd);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-top: 0;
  padding: 0;
}

.button-hero {
  background-color: var(--brand-color);
  color: var(--color-add-hd);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero > .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about {
  background-color: var(--bg-main-color);
}

.about-heading-specifity {
  color: var(--color-hd);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-heading {
  color: var(--color-hd);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-text {
  color: var(--color-add-txt);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team {
  background-color: #f5f4fa;
}

.team-heading {
  color: var(--color-hd);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-heading-member {
  color: var(--color-hd);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  color: var(--color-add-txt);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.list {
  display: flex;
  list-style: none;
}

.list-specifity-item:not(last-child),
.list-about-item:not(last-child),
.list-team-item:not(last-child) {
  margin-right: 30px;
}

.portfolio {
  background-color: var(--bg-main-color);
}

.portfolio-heading {
  color: var(--color-hd);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--color-add-txt);
  font-size: 16px;
  line-height: 1.888;
  letter-spacing: 0.03em;
}

.footer > .container > .footer-address > .list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-flow: column wrap;
  padding-top: 40px;
  padding-bottom: 43px;
}

.list.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 37px;
}

.button-filter:not(last-child) {
  margin-right: 8px;
}

.list-portfolio-item {
  flex-basis: 33.333333%;
}

.list.samples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 67px;
}

.footer > .container > .logo {
  padding-top: 60px;
}
